

@media	only screen and (max-height: 465px),
		only screen and (max-width: 450px) {
	#label_now {
		font-size: 2em;
		line-height: 1.2em;
	}

	#label_current_title {
		font-size: 2em;
	}

	#label_left {
		font-size: 4em;
	}

	#label_total_left {
		font-size: 3em;
		line-height: 1em;
	}

	.btn-big {
		font-size: 1.5em;
		min-width: 120px;
		max-width: 120px;
	}
}

@media only screen and (min-height: 466px) and (max-height: 580px) {
	#label_now {
		font-size: 3em;
		line-height: 1.2em;
	}

	#label_current_title {
		font-size: 3em;
	}

	#label_left {
		font-size: 6em;
	}

	#label_total_left {
		font-size: 4em;
		line-height: 2em;
	}
}
